### < Custom > ###

!.gitignore
# IDE configs
**/*/.vscode/*
# ventor files
**/*/vendor/*
**/*/node_modules/*
# development files
.env
/var/
/app/*
# certificats
.docker/server/certs
**/*/*.key
**/*/*.pem
**/*/*.crt

### </ Custom /> ###

### < Temprary > ###
.xxx/*
.docker/php/composer-installer.sh
### </ Temprary /> ###
app
